<%- include("partials/header.ejs") %>

  <% if (locals.books[0]) { %>
    <!-- HEADER -->
    <div class="bookshelf-header">
      <h1>BOOKSHELF</h1>
      <div class="sorts">
        <form action="/genre" method="POST" id="genre-form">
          <select class="sort-options genre-width" name="genre" onchange="document.getElementById('genre-form').submit();">
            <option value="" selected hidden>Genre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
            <% for (let list of genres) {%>
              <option value="<%= list.genre %>"><%= list.genre %></option>
            <% } %>
          </select>
        </form>
        <form action="/sort" method="POST" id="sort-form">
          <select class="sort-options sort-width" name="sort" onchange="document.getElementById('sort-form').submit();">
            <option value="" selected hidden>Sort&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
            <option value="date">Latest read</option>
            <option value="title">Title</option>
            <option value="rating">Rating</option>
          </select>
        </form>
        <a href=""class="new-btn">New Book</a>
      </div>
    </div>

    <% if (locals.booksCount) { %>
      <div class="search-result">
        <p class="search-text"><strong><%= booksCount %></strong> results for books with <strong><%= theGenre %></strong> genre sorted by <strong><%= theSort %></strong></p>
        <div>
          <a href="/books.ejs" class="clear-filter"><i class="fas fa-times-square"></i>&nbsp;&nbsp;Clear filter</a>
        </div>
      </div>
    <% } else {}; %>

    <!-- BOOKSHELF -->
    <section class="bookshelf">
      <% for(let book of books) {%>
        <div class="card">  
          <img src="<%= book.img_url %>" alt="" class="book-cover">
          <div class="book-details">
            <h1><%= book.title %></h1>
            <h3><%= book.author %></h3>
            <h4>Recomendation: <%= book.rating %>/10</h4>
          </div>
        </div>
      <% } %>
    </section>
  <% } else {}; %>

<%- include("partials/footer.ejs")  %>