<%- include("partials/header.ejs") %>

  <% if (locals.books[0]) { %>
    <!-- HEADER -->
    <div class="bookshelf-header">
      <h1 class="shelf-head">BOOKSHELF</h1>
      <div class="sorts">
        <div class="search-container">
          <input
            type="text"
            id="search-input"
            placeholder="Search for books..."
            class="search-input"
            oninput="showSearchText()"
          />
        </div>
        <form id="genre-form">
          <select class="sort-options genre-width" name="genre" id="genre-select">
            <option value="" selected hidden>Genre</option>
            <% for (let list of genres) {%>
              <option value="<%= list.genre %>"><%= list.genre %></option>
            <% } %>
          </select>
        </form>
        <form id="sort-form">
          <select class="sort-options sort-width" name="sort" id="sort-select">
            <option value="" selected hidden>Sort</option>
            <option value="date">Latest read</option>
            <option value="title">Title</option>
            <option value="rating">Rating</option>
          </select>
        </form>
        <a href="/new.ejs"class="new-btn"><i class="fa fa-book"></i>&nbsp;&nbsp;New Book</a>
      </div>
    </div>
    
    <!-- SEARCH TEXT -->
    <div id="search-pane">
      <p id="search-text" class="search-text"></p>
      <div class="clear-btn">
        <a href="/books.ejs" class="clear-filter"><i class="fa fa-times-circle"></i>&nbsp;&nbsp;Clear filter</a>
      </div>
    </div>

    <!-- BOOKSHELF -->
    <section class="bookshelf" id="bookshelf">
      <% for(let book of books) {%>
        <div class="card">
          <a href="/journal/<%=book.id%>">
            <img src="<%= book.img_url %>" alt="" class="book-cover">
            <div class="book-details">
              <h1 class="limited-text"><%= book.title %></h1>
              <h3 class="book-author"><%= book.author %></h3>
              <h4 class="recommendation">Recommendation: <%= book.rating %>/10</h4>
            </div>
          </a>  
        </div>
      <% } %>
    </section>
  <% } else {%>
    <div class="no-books-yet">
      <h1 class="shelf-head">Add books to showcase your collection.</h1>
      <a href="/new.ejs"><button class="add-books-btn">ADD BOOKS</button></a>
    </div>  
  <% }; %>

  <script src="/books.js"></script>

<%- include("partials/footer.ejs")  %>