<%- include("partials/header.ejs")  %>

  <!-- HOME -->
  <section class="home">
    <div class="left-pane">
      <a href="/" class="areadsy"><h1 class="readsy">readsy</h1></a>
    </div>
    <div class="right-pane">
      <h1 class="description">a place to save your reading collection
        review the books you have read,
        and keep the salient parts for lookup by taking notes</h1>
    </div>
  </section>

  <!-- RANDOM BOOK -->
  <% if (locals.lucky.genre) {%>
    <h1 class="random-head">Random. <span class="sub-head">Displays a book at random.</span></h1>
    <section class="random">
      <div class="random-details">
        <h5 class="random-genre"><%= lucky.genre %></h5>
        <a href="/journal/<%= lucky.id %>"><h1 class="random-title"><%= lucky.title %></h1></a>
        <h3 class="random-author"><%= lucky.author %></h3>
        <h5 class="random-recommendation">Recommendation: <%= lucky.rating %>/10</h5>
        <a href="/journal/<%= lucky.id %>"><button class="buttons view-book">View Book</button></a>
      </div>
      <div class="random-book">
        <a href="/journal/<%= lucky.id %>"><img src="<%= lucky.img_url %>" alt="<%= lucky.title %>" class="random-cover"></a>
      </div>
    </section>
  <% } else {%>
    <div class="no-books-yet">
      <h1 class="shelf-head">Add books to showcase your collection.</h1>
      <a href="/new.ejs"><button class="add-books-btn">ADD BOOKS</button></a>
    </div>
  <% }; %>

  <!-- BOOKSHELF -->
  <% if (locals.featuredBooks[0]) {%>
    <h1 id="featured" class="head">Featured. <span class="sub-head">Books you highly recommend, 10/10.</span></h1>
    <section class="bookshelf">
      <% for(let book of featuredBooks) {%>
        <div class="card">
          <a href="/journal/<%=book.id%>">
            <img src="<%= book.img_url %>" alt="<%= book.title %>" class="book-cover">
              <div class="book-details">
              <h1 class="limited-text"><%= book.title %></h1>
              <h3 class="book-author"><%= book.author %></h3>
              <h4 class="recommendation">Recommendation: <%= book.rating %>/10</h4>
            </div>
          </a>  
        </div>
      <% } %>
    </section>
  <% } else {}; %>

  <!-- LATEST READ -->
  <% if (locals.latestBooks[0]) {%>
    <h1 id="latest" class="head">Latest. <span class="sub-head">The latest books you read.</span></h1>
    <section class="bookshelf">
      <% for(let book of latestBooks) {%>
        <div class="card">
          <a href="/journal/<%= book.id %>" >
            <img src="<%= book.img_url %>" alt="<%= book.title %>" class="book-cover">
            <div class="book-details">
              <h1 class="limited-text"><%= book.title %></h1>
              <h3 class="book-author"><%= book.author %></h3>
              <h4 class="recommendation">Recommendation: <%= book.rating %>/10</h4>
            </div>
          </a>  
        </div>
      <% } %>
    </section>
  <% } else {}; %>

<%- include("partials/footer.ejs")  %>