<%- include("partials/header.ejs")  %>

  <section class="journal-section">
    <div class="journal">
      <img src="<%= book.img_url %>" alt="" class="journal-cover">
      <h5 class="j-genre"><%= book.genre %></h5> 
      <h5 class="j-rating">Recommendation: <%= book.rating %>/10</h5>
      <div class="edit-delete-btn">
        <a href="/edit.ejs" class="no-deco"><button class="edit-btn">EDIT</button></a>
        <form action="/delete/<%= book.id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this book journal?');">  
          <button type="submit" class="delete-btn">DELETE</button>
        </form>
      </div>
    </div>
    <div class="journal-details">
      <div class="scrollable-content">
        <h1 class="j-title"><%= book.title %></h1>
        <a href="#author-books" class="a-author"><h2 class="j-author"><%= book.author %></h2></a>
        <h3 class="j-labels">Review</h3>
        <p class="j-review"><%= book.review %></h5>
        <h3 class="j-labels">Notes</h3>
        <p class="j-notes"><%= book.notes %></h5>
      </div>
    </div>
  </section>

  <!-- BOOKSHELF -->
  <% if (locals.authorBooks[0]) {%>
    <h1 class="head author-books" id="author-books">Books by <span class="sub-head"><%= book.author %></span> I read</h1>
    <section class="bookshelf" id="bookshelf">
      <% for(let book of authorBooks) {%>
        <div class="card">
          <a href="/journal/<%=book.id%>">
            <img src="<%= book.img_url %>" alt="" class="book-cover">
            <div class="book-details">
              <h1 class="limited-text"><%= book.title %></h1>
              <h3 class="book-author"><%= book.author %></h3>
              <h4 class="recommendation">Recommendation: <%= book.rating %>/10</h4>
            </div>
          </a>  
        </div>
      <% } %>
    </section>
  <% } else {}; %>

<%- include("partials/footer.ejs")  %>