<%- include("partials/header.ejs")  %>

  <section class="journal">
    <div class="journal-cover">
      <img src="<%= book.img_url %>" alt="" class="random-cover">
      <h5>Recommendation: <%= book.rating %>/10</h5>
      <div class="edit-delete-btn">
        <a href="/edit.ejs" class="edit-btn">EDIT</a>
        <form action="/delete/<%= book.id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this book journal?');">  
          <button type="submit" class="delete-btn">Delete</button>
        </form>
      </div>
    </div>
    <div class="journal-details">
      <div class="scrollable-content">
        <h1><%= book.title %></h1>
        <h3><%= book.author %></h3>
        <h5><%= book.genre %></h5> 
        <h5><%= book.review %></h5>
        <h5><%= book.notes %></h5>
      </div>
    </div>
  </section>

  <!-- BOOKSHELF -->
  <% if (locals.authorBooks[0]) {%>
    <h1>Books by <span class="sub-head"><%= book.author %></span></h1>
    <section class="bookshelf">
      <% for(let book of authorBooks) {%>
        <div class="card">
          <a href="/books/<%=book.id%>" >
            <img src="<%= book.img_url %>" alt="" class="book-cover">
            <div class="book-details">
            <h1><%= book.title %></h1>
            <h3><%= book.author %></h3>
            <h4>Recomendation: <%= book.rating %>/10</h4>
          </div>
          </a>  
        </div>
      <% } %>
    </section>
  <% } else {}; %>

<%- include("partials/footer.ejs")  %>